body {
    background-color: FFFFFF;
    color: rgb(28, 30, 25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #191616; 
    padding: 10px;
    text-align: left;
}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 10px 20px; 
    font-size: 17px;
    transition: background-color 0.3s ease; 
}

nav a:hover {
    background-color: #555; 
    border-radius: 5px; 
}